/*Inicializacion*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Definicion de variables*/
:root{
    --bg-gradient:linear-gradient(135deg,#667eea7e 0%,#764ba298 100%);
    --color-primary:#667eea;
    --color-secondary:#764ba2;
    --boton-padding:20px 40px;
}
/*Estilos Globales*/
body{
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden; /*Esto nos permite que todo lo que salga de este 90% de oculte*/
    padding: 80px 0;
}

.subtitle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}
/*Header*/
.hero{
    height: 100vh; /*Va a ocupar el 100% de la altura de navegador*/
    background-image: var(--bg-gradient), url("../img/hero.jpg");
    background-repeat: no-repeat; /*Par que no se repita la imagen*/
    background-size: cover; /*para que abarque el 100% */
    background-attachment: fixed; /*Efecto paralax*/
    background-position: center; /*Para centrarlo*/
    position: relative; /*Para posicionar la wave*/
}
.hero .container{
    padding: 0;
}
/*Navegador de Header*/
.nav{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight:700;
}
.nav-item{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit; /*Hereda la fuente del padre*/
}
/*Para resaltar este item*/
.cta-item{
    border: 1px solid white;        
}
/*Modificacion del texto*/
.hero-container {
    display: flex;
    height: calc(100vh - 70px); /*Es la altura total del header menos 70px que ocupa el nav*/
    align-items: center; /*Centrado vertical*/
    color: white;
}
.hero-text{
    width: 80%;
    margin-bottom: 50px;
}
.hero-title{
    font-size: 3.2rem;
}
.hero-subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}
.cta-hero{
    display: inline-block; /*Para desbloquear propiedades del moldeado de cajas*/
    background-color: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;
}
/*wave*/
.hero-wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

/*main*/
/*Parte I*/
.presentation{
    padding-top: 0; /* tenemos la separacion de 100px de la wave*/
    text-align: center;
}
.presentation-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
     margin-bottom: 10px;
    object-fit: cover; /*Para que la imagen no pierda resolucion*/
    object-position: top; /*Para que la perspectiva sea de arriba*/
}
.presentation-copy{
    width: 80%;
    margin: 0 auto; /*Para centrar el contenido del texto*/
}
.cta-presentation{
    display: inline-block; /*Para desbloquear propiedades del moldeado de cajas*/
    background-color:var(--color-primary);
    padding: var(--boton-padding);
    margin-top: 30px;
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
}
/*Parte II*/
/*Utilizo Grid para generar las celdas*/
.about{
    min-height: 400px;
    display: grid;
    /*Definimos dos columnas*/
    grid-template-columns: 1fr 1fr;
    row-gap: 80px; /*Espaciado entre filas*/
    justify-items: center;
    align-items: center;
}
/*Textos*/
.about-paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;    
}
/*Imagenes*/
.about-img{
    text-align: center;
}
.tx-left{
    text-align: left;
}
.about-picture{
    max-width: 80%;
}
/*Seccion proyectos*/
/*Utilizo Grid con areas*/
.project{
    background-color: #f2f2f2;
}
.project-grid{
    display: grid;
    height: 550px;
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img1 img1 img4 img5";
    gap:10px;
}
.project-item{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.project-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.project-item:nth-of-type(1){
    grid-area: img1;
}
.project-item:nth-of-type(2){
    grid-area: img2;
}
.project-item:nth-of-type(3){
    grid-area: img3;
}
.project-item:nth-of-type(4){
    grid-area: img4;
}
.project-item:nth-of-type(5){
    grid-area: img5;
}
.project-hover{
    position: absolute;
    background-color: var(--color-secondary);
    opacity: 80%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column; /*Para centrarlo horizontalmente*/
    justify-content: center;
    transform: scale(0%,0%);
    cursor: pointer;
    transition: transform 0.5s ease-in-out
}
.project-icom{
    margin-top: 10px;
    font-size: 30px;
}

.project-item:hover .project-hover{ 
    transform: scale(100%,100%);
}

/*Opiniones*/
.review-grid{
    width: 100%; /*Para que ocupe todo el tamaño de la pantalla*/
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.review-item{
    width: 95%; /*Esto lo que hara es ocupar el 95% de la fraccion*/
    margin: 0 auto; /*Centramos el contenido*/
    background-color: var(--color-secondary);
    box-shadow: 0 8px 10px rgba(66,66,66,.5);
    border-radius: 7px;
    padding: 30px 25px;
    color: #fff;
    margin-bottom: 50px; 
}
.review-person{
    display: flex;
    align-items: center; /*Alineacion vertical*/
    margin-bottom: 20px;
}
.review-img{
    width: 100px;
    min-width:100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-right: 30px;
}
.review-name{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.review-job{
    color: #e0afa0;
    font-weight: 700;
}
.review-text{
    font-weight: 300;
}

/*Footer*/
.footer{
    background-color: var(--color-primary);
}
.footer-grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
/*Navegador de footer*/
.nav-footer{
    justify-content: center;
    gap: 20px;
    align-items: center;
}
/*contactos personales*/
.footer-title{
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}
.container-icons{
    display: flex;
    justify-content: space-evenly;
}
.icon-item{
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
}
.icon-footer{
    color: inherit;
    font-size: 30px;
    text-decoration: none;
}
.fa-brands.icon-footer{
    line-height: 60px;
}

/*Responsive Design*/
@media screen and (max-width: 800px){
    /*Variables*/
    :root{
        --boton-padding:18px 40px;
    }
    /*header*/
    .nav{
        justify-content: space-around;
    }
    .cta-item{
        border: none;        
    }
    .nav-item{
        font-weight: 400;
        border-bottom: 1px solid #fff;
        margin-right: 0;
    }
    .hero-text{
        width: 100%;
        margin-bottom: 80px;
    }
    .hero-title{
        font-size: 2.5rem;
    }
    .hero-subtitle{
        font-size: 1.5rem;
    }
    /*Presentacion*/
    /*Parte 1*/
    .presentation-copy{
        width: 100%;
    }
    /*Parte 2*/
    .about{
        grid-template-columns: 1fr; /*Vamos a declarar solamente una columna*/
    }
    .about.container{
        padding-top: 30px; /*Estp hace menor la distancia con el header*/
    }
    .tx-left{
        text-align: center; /*Centramos la imagen*/
    }
    .about-text:last-child{
        grid-row: 3/4;
    }

    /*Proyectos*/
    .project-grid{
        grid-template-areas: 
        "img1 img1 img2 img2"
        "img1 img1 img3 img3"
        "img4 img4 img5 img5";
    }

    /*Opiniones*/
    .review-grid{
        grid-template-columns: 1fr;
        gap: 30px;
    }

    /*footer*/
    .footer-grid{
        grid-template-columns: 1fr;
        gap:30px
    }
    .footer-contact:last-child{
        grid-row: 1/2;
    }
}